{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions"]
        },
        "loose": true,
        "useBuiltIns": true,
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    "lodash",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import"
  ]
}