{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["> 0.5%", "not ie 11", "not op_mini all"]
        },
        "loose": true,
        "useBuiltIns": true,
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    "lodash",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-loadable/babel",
    ["import-inspector", {
      "serverSideRequirePath": true
    }]
  ]
}