/**
 * A sample configuration for you application,
 * copy this and rename without the `.sample` ext to use as your local env config
 */
module.exports = {
  PORT: 3000,
  NODE_ENV: 'development',
  NODE_PROXY: true,
  //request module http proxy
  HTTP_PROXY: '',
  PROXY_DEBUG_LEVEL: 0,
  LOG_PATH: '',
  STATIC_ENDPOINT: '',
  STATIC_PREFIX: '',
  PREFIX_TRAILING_SLASH: true,
  APP_PREFIX: '',
  CUSTOM_API_PREFIX: true,
  ENABLE_HMR: true,
  HMR_PORT: 12345,
  ENABLE_SSR: false,
  INLINE_STYLES: false,
  CSS_MODULES: false,
  API_ENDPOINTS: {
    defaultPrefix: '/api-proxy',
    '/api-proxy': 'http://127.0.0.1:3001',
    '/api-proxy-2': 'http://127.0.0.1:3002',
    '/api-proxy-3': 'http://127.0.0.1:3002',
  },
};
